@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

main{
    background-color: white;
    width: 400px;
    height: 500px;
    
    margin: auto;
    margin-top: 80px;
}

article{
    display: flex;
}

p.botao{
    font-size: 5em;
    font-weight: bolder;
}

div#numeros{
    display: flex;
    justify-content: flex-start;
}

div#numeros > p{
    border: 1px solid black;
    padding: 10px;
}

div#sinais{

}