@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(155, 155, 95);
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
}

main{
    background-color: white;
    height: 450px;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}

main > section > img{
    size: 50px;
    border-radius: 50%;
    user-select: none;
    text-align: center;

}

main > section > p{
    font: 1.5em bolder;
    margin-bottom: 50px;
    margin-top: 15px;
}

