.addList{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: auto;
}

.item_da_Lista{
    display: flex;
    flex-direction: row;
}

.textoTarefa{
    font-weight: bold;
    font-size: 1.3em;
}